#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ANPV
GenericName=Image Viewer
Comment=Fast, Responsive and Verbose Image Viewer
Exec=/usr/bin/anpv %F
TryExec=/usr/bin/anpv
Terminal=false
Icon=ANPV
Type=Application
Categories=Qt;Graphics;RasterGraphics;Viewer;
MimeType=inode/directory;image/jpeg;image/tiff;image/x-kde-raw;image/x-canon-cr2;image/x-canon-crw;image/x-kodak-dcr;image/x-adobe-dng;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw;image/x-sony-sr2;image/x-sony-srf;image/x-sigma-x3f;image/x-sony-arw;image/x-panasonic-rw2;
