[submodule "libkexiv2"]
	path = libkexiv2
	url = https://invent.kde.org/tommo/libkexiv2.git
[submodule "libkdcraw"]
	path = libkdcraw
	url = https://invent.kde.org/tommo/libkdcraw.git
[submodule "icons/oxygen/base"]
	path = icons/oxygen/base
	url = https://invent.kde.org/frameworks/oxygen-icons.git
